{% extends "base2.html" %} {% block title %}Job Posts{% endblock %} 

{% block content %}
<style>
 .product-card {
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      margin-bottom: 20px;
    }
    .product-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
    .headline {
      text-align: center;
      font-size: 2.5rem;
      margin-bottom: 20px;
    }
    .description {
      max-width: 800px;
      margin: 0 auto 40px;
      font-size: 1.1rem;
      color: #555;
    }
    .product-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 10px;
    }
    .product-price {
      font-size: 1rem;
      color: #28a745;
      margin-top: 5px;
    }
    .des{
      max-width: 800px;
      margin: 0 auto 40px;
      font-size: 1.1rem;
      color: #555;
    }
  </style>


   <div class="container mt-5">
    <!-- Headline -->
    <div class="headline">
      <h1>Your Amazing Blogpost Showcase</h1>
    </div>

    <!-- Description -->
    <div class="description">
      <p>
        Welcome to our blogpost showcase! Explore our collection of blogpost to elevate your experience. Browse through our site. 
      </p>
    </div>

    <!-- Product Row -->
    <div class="row">
       {% for blog in blogposts %}
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="product-card">
            
            <div class="product-name">{{ blog.title }}</div>
            <div class="product-price">{{ blog.company }}</div>
            <p class="des">{{ blog.description|slice:":70"|safe }}...</p>
            <a href="{% url 'blog_details' blog.pk %}" class="btn btn-primary w-100">View Details</a>
          </div>
        </div>
        {% endfor %}

 


{% endblock content %}
